/*
  ESTE ARCHIVO NO SE USA, ES SOLO PARA REFERENCIA
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: var(--bg-default);
  color: var(--text-primary);
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--primary-main);
  text-decoration: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea::placeholder {
  color: var(--text-disabled);
}