<section class="container-fluid py-3 px-3">
  <header class="row mb-4">
    <div class="col-12">
      <div class="primary-header">
        <h1 class="mb-0">Productos y Servicios</h1>
      </div>
    </div>
  </header>

  <div id="tab">
    <section class="row mb-4" aria-labelledby="descripcion-productos-servicios">
      <div class="col-12">
        <p id="descripcion-productos-servicios" class="fw-bold">Aquí podrás solicitar un producto o servicio.</p>
        <ul>
          <li>
            Este módulo te permitirá realizar la solicitud de un producto o servicio ofrecido por la entidad o
            visualizar el estado de cada una de tus solicitudes, da clic en la opción que desees.
          </li>
        </ul>
      </div>
    </section>

    <div class="d-flex flex-wrap justify-content-center mt-5" id="botones-productos" style="gap: 10rem;">
      <div>
        <!-- generar solicitud -->
        <div class="degrade text-center w-100 product-tab" data-tab="generate" style="cursor: pointer;">
          <img src="/images/products/1.png" class="img-productos">
        </div>
      </div>

      <div>
        <!-- Visualizar el historial -->
        <div class="degrade text-center w-100 product-tab" data-tab="details" style="cursor: pointer;">
          <img src="/images/products/2.png" class="img-productos">
        </div>
      </div>

    </div>
  </div>

  <section class="row mt-5 mb-5 justify-content-center">
    <div class="col-12 app-paper elevation-4 p-4 text-center" id="tab-content-generate" style="display: none;">
      <%- include('partials/generate') %>
    </div>
    <div class="col-12 app-paper elevation-4 p-4 text-center" id="tab-content-details" style="display: none;">
      <%- include('partials/details') %>
    </div>
  </section>
</section>
<script src="/javascripts/productServices.js"></script>