<section class="container-fluid py-3 px-3">
  <header class="row mb-4">
    <div class="col-12">
      <div class="primary-header">
        <h1 class="mb-0">Productos y Servicios</h1>
      </div>
    </div>
  </header>

  <div id="tab">
    <div class="text-left">
      <p class="fw-bold">Aquí podrás solicitar un producto o servicio.</p>
      <p>A continuación encontraras la lista de las solicitudes que has realizado con su último estado, ordenadas de la más nueva a la más antigua. Si quieres ver cómo ha sido la evolución de alguna solicitud en especial te invitamos a dar clic en el botón "Ver más".</p>
    </div>

    <!-- quiero centrar dos imagenes con bootstrap -->
    <div class="d-flex flex-wrap justify-content-center gap-4 mt-4">
      <div>
        <!-- Visualizar el historial -->
        <div class="degrade text-center w-100" onclick="window.location.href = '/products-services/details'">
          <img src="/images/products/1.png" class="img-productos">
        </div>
      </div>

      <div>
        <!-- generar solicitud -->
        <div class="degrade text-center w-100" onclick="window.location.href = '/products-services/generate'">
          <img src="/images/products/2.png" class="img-productos">
        </div>
      </div>
    </div>
  </div>
</section>
<script></script>