<div id="adjuntos"> <!--class="app-paper elevation-2 p-4"-->
    <div class="secondary-header mb-4 p-2">
        <h3 class="mb-0">Adjuntos</h3>
    </div>
    <div>Los adjuntos solo deben estar en formato PDF, evite subir archivos con otros formatos.</div>
    <div id="adjuntos-content" class="row"></div>

</div>