<div id="autorizaciones"> <!--class="app-paper elevation-2 p-4"-->
    <div class="secondary-header mb-4 p-2">
        <h3 class="mb-0">Autorizaciones</h3>
    </div>

    <div id="autorizaciones-content" class="row"></div>

</div>