<div id="conyugue" class="app-paper elevation-2 p-4">
    <div class="secondary-header mb-4 p-2">
        <h3 class="mb-0">Conyugue</h3>
    </div>
    <form>
        <div class="row g-3">
            <div class="col-12 col-md-2">
                <div class="app-field">
                    <input type="text" class="app-input" id="primerNombreConyugue" name="primerNombreConyugue"
                        placeholder=" " required>
                    <label for="primerNombreConyugue">Primer Nombre</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field">
                    <input type="text" class="app-input" id="segundoNombreConyugue" name="segundoNombreConyugue"
                        placeholder=" ">
                    <label for="segundoNombreConyugue">Segundo Nombre</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field">
                    <input type="text" class="app-input" id="primerApellidoConyugue" name="primerApellidoConyugue"
                        placeholder=" " required>
                    <label for="primerApellidoConyugue">Primer Apellido</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field">
                    <input type="text" class="app-input" id="segundoApellidoConyugue" name="segundoApellidoConyugue"
                        placeholder=" ">
                    <label for="segundoApellidoConyugue">Segundo Apellido</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="tipoDocumentoConyugue" name="tipoDocumentoConyugue" required>
                        <option value="" selected></option>
                        <option value="CC">CEDULA</option>
                        <option value="PASAPORTE">PASAPORTE</option>
                        <option value="TI">TARJETA DE IDENTIDAD</option>
                        <option value="NIT">NIT</option>
                        <option value="OTRO">OTRO</option>
                    </select>
                    <label for="tipoDocumentoConyugue">Tipo de Documento</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field">
                    <input type="text" class="app-input" id="documentoConyugue" name="documentoConyugue" placeholder=" "
                        required>
                    <label for="documentoConyugue">Documento</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="paisNacimientoConyugue" name="paisNacimientoConyugue" required>
                        <option value="" selected></option>
                        <option value="CO">COLOMBIA</option>
                        <option value="VE">VENEZUELA</option>
                        <option value="PE">PERU</option>
                    </select>
                    <label for="paisNacimientoConyugue">Pais de Nacimiento</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field select    ">
                    <select class="app-select" id="departamentoNacimientoConyugue" name="departamentoNacimientoConyugue"
                        required>
                        <option value="" selected></option>
                        <option value="ANTIOQUIA">ANTIOQUIA</option>
                        <option value="VALLE">VALLE</option>
                        <option value="MAGDALENA">MAGDALENA</option>
                    </select>
                    <label for="departamentoNacimientoConyugue">Departamento de Nacimiento</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="ciudadNacimientoConyugue" name="ciudadNacimientoConyugue" required>
                        <option value="" selected></option>
                        <option value="MEDELLIN">MEDELLIN</option>
                        <option value="CALI">CALI</option>
                        <option value="BOGOTA">BOGOTA</option>
                    </select>
                    <label for="ciudadNacimientoConyugue">Ciudad de Nacimiento</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="tipoDireccionConyugue" name="tipoDireccionConyugue" required>
                        <option value="" selected></option>
                        <option value="CARRERA">CARRERA</option>
                        <option value="CALLE">CALLE</option>
                        <option value="AVENIDA">AVENIDA</option>
                        <option value="OTRO">OTRO</option>
                    </select>
                    <label for="tipoDireccionConyugue">Tipo de Direccion</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field ">
                    <input type="text" class="app-input" id="complementoDireccionConyugue"
                        name="complementoDireccionConyugue" placeholder=" " required>
                    <label for="complementoDireccionConyugue">Complemento Direccion</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="generoConyugue" name="generoConyugue" required>
                        <option value="" selected></option>
                        <option value="1">MASCULINO</option>
                        <option value="2">FEMENINO</option>
                        <option value="3">OTRO</option>
                    </select>
                    <label for="generoConyugue">Genero</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field ">
                    <input type="date" class="app-input" id="fechaNacimientoConyugue" name="fechaNacimientoConyugue"
                        placeholder=" " required>
                    <label for="fechaNacimientoConyugue">Fecha de Nacimiento</label>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <div class="app-field ">
                    <input type="date" class="app-input" id="fechaExpedicionConyugue" name="fechaExpedicionConyugue"
                        placeholder=" " required>
                    <label for="fechaExpedicionConyugue">Fecha de Expedicion Documento</label>
                </div>
            </div>

            <div class="col-12 col-md-1">
                <div class="app-field ">
                    <input type="text" class="app-input" id="telefonoConyugue" name="telefonoConyugue" placeholder=" "
                        required minlength="7" maxlength="10">
                    <label for="telefonoConyugue">Telefono</label>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <div class="app-field ">
                    <input type="text" class="app-input" id="celularConyugue" name="celularConyugue" placeholder=" "
                        required minlength="7" maxlength="10">
                    <label for="celularConyugue">Celular</label>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="app-field ">
                    <input type="text" class="app-input" id="emailConyugue" name="emailConyugue" placeholder=" "
                        required>
                    <label for="emailConyugue">Correo Electronico</label>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="app-field select">
                    <select class="app-select" id="tipoContratoConyugue" name="tipoContratoConyugue" required>
                        <option value="" selected></option>
                        <option value="1">CONTRATO TERMINO INDEFINIDO</option>
                        <option value="2">CONTRATO TEMPORAL</option>
                        <option value="3">CONTRATO DE TRABAJO</option>
                    </select>
                    <label for="tipoContratoConyugue">Tipo de Contrato</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field select">
                    <select class="app-select" id="empresaConyugue" name="empresaConyugue">
                        <option value="" selected></option>
                        <option value="1">EMPRESA 1</option>
                        <option value="2">EMPRESA 2</option>
                        <option value="3">EMPRESA 3</option>
                    </select>
                    <label for="empresaConyugue">Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field">
                    <input type="text" class="app-input" id="oficioConyugue" name="oficioConyugue" placeholder=" ">
                    <label for="oficioConyugue">Oficio</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field">
                    <input type="text" class="app-input" id="telefonoEmpresaConyugue" name="telefonoEmpresaConyugue"
                        placeholder=" ">
                    <label for="telefonoEmpresaConyugue">Telefono Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field select">
                    <select class="app-select" id="paisEmpresaConyugue" name="paisEmpresaConyugue" required>
                        <option value="" selected></option>
                        <option value="1">PAIS 1</option>
                        <option value="2">PAIS 2</option>
                        <option value="3">PAIS 3</option>
                    </select>
                    <label for="paisEmpresaConyugue">Pais Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field select">
                    <select class="app-select" id="departamentoEmpresaConyugue" name="departamentoEmpresaConyugue"
                        required>
                        <option value="" selected></option>
                        <option value="1">DEPARTAMENTO 1</option>
                        <option value="2">DEPARTAMENTO 2</option>
                        <option value="3">DEPARTAMENTO 3</option>
                    </select>
                    <label for="departamentoEmpresaConyugue">Departamento Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field select">
                    <select class="app-select" id="ciudadEmpresaConyugue" name="ciudadEmpresaConyugue" required>
                        <option value="" selected></option>
                        <option value="1">CIUDAD 1</option>
                        <option value="2">CIUDAD 2</option>
                        <option value="3">CIUDAD 3</option>
                    </select>
                    <label for="ciudadEmpresaConyugue">Ciudad Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field select">
                    <select class="app-select" id="cargoConyugue" name="cargoConyugue" required>
                        <option value="" selected></option>
                        <option value="1">CARGO 1</option>
                        <option value="2">CARGO 2</option>
                        <option value="3">CARGO 3</option>
                    </select>
                    <label for="cargoConyugue">Cargo</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="tipoDireccionEmpresaConyugue" name="tipoDireccionEmpresaConyugue">
                        <option value="" selected></option>
                        <option value="1">CALLE</option>
                        <option value="2">AVENIDA</option>
                        <option value="3">PASAJE</option>
                        <option value="10">CARRERA</option>
                    </select>
                    <label for="tipoDireccionEmpresaConyugue">Tipo Direccion Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field">
                    <input type="text" class="app-input" id="complementoDireccionEmpresaConyugue"
                        name="complementoDireccionEmpresaConyugue" placeholder=" ">
                    <label for="complementoDireccionEmpresaConyugue">Complemento Direccion Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="ciuuEmpresaConyugue" name="ciuuEmpresaConyugue">
                        <option value="" selected></option>
                        <option value="1">CIUU 1</option>
                        <option value="2">CIUU 2</option>
                        <option value="3">CIUU 3</option>
                    </select>
                    <label for="ciuuEmpresaConyugue">CIUU Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field">
                    <input type="text" class="app-input" id="salarioConyugue" name="salarioConyugue" placeholder=" ">
                    <label for="salarioConyugue">Salario</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field">
                    <input type="date" class="app-input" id="fechaIngresoEmpresaConyugue"
                        name="fechaIngresoEmpresaConyugue" placeholder=" ">
                    <label for="fechaIngresoEmpresaConyugue">Fecha Ingreso Empresa</label>
                </div>
            </div>
        </div>
    </form>
</div>