<div id="conyugue" class="app-paper elevation-2 p-4">
    <div class="secondary-header mb-4 p-2">
        <h3 class="mb-0">Conyugue</h3>
    </div>
    <form>
        <div class="row g-3">
            <div class="col-12 col-md-2">
                <div class="app-field">
                    <input type="text" class="app-input" id="primerNombreConyugue" name="primerNombreConyugue"
                        placeholder=" " required>
                    <label for="primerNombreConyugue">Primer Nombre</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field">
                    <input type="text" class="app-input" id="segundoNombreConyugue" name="segundoNombreConyugue"
                        placeholder=" ">
                    <label for="segundoNombreConyugue">Segundo Nombre</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field">
                    <input type="text" class="app-input" id="primerApellidoConyugue" name="primerApellidoConyugue"
                        placeholder=" " required>
                    <label for="primerApellidoConyugue">Primer Apellido</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field">
                    <input type="text" class="app-input" id="segundoApellidoConyugue" name="segundoApellidoConyugue"
                        placeholder=" ">
                    <label for="segundoApellidoConyugue">Segundo Apellido</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="tipoDocumentoConyugue" name="tipoDocumentoConyugue" required>
                        <option value="" selected></option>
                        <option value="C">CEDULA CIUDADANIA</option>
                        <option value="N">NIT</option>
                        <option value="P">PASAPORTE</option>
                        <option value="E">CEDULA EXTRANJERIA</option>
                        <option value="R">REGISTRO CIVIL</option>
                        <option value="T">TARJETA DE IDENTIDAD</option>
                        <option value="U">NRO UNICO IDENT. PERSONAL</option>
                        <option value="O">OTRO</option>
                        <option value="H">RUT</option>
                    </select>
                    <label for="tipoDocumentoConyugue">Tipo de Documento</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field">
                    <input type="text" class="app-input" id="documentoConyugue" name="documentoConyugue" placeholder=" "
                        required>
                    <label for="documentoConyugue">Documento</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="paisNacimientoConyugue" name="paisNacimientoConyugue"
                        data-combo="paises" required>
                        <option value="" selected></option>
                    </select>
                    <label for="paisNacimientoConyugue">Pais de Nacimiento</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field select    ">
                    <select class="app-select" id="departamentoNacimientoConyugue" name="departamentoNacimientoConyugue"
                        data-combo="departamentos" data-depende="paisNacimientoConyugue" data-param="pais" required>
                        <option value="" selected></option>
                    </select>
                    <label for="departamentoNacimientoConyugue">Departamento de Nacimiento</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="ciudadNacimientoConyugue" name="ciudadNacimientoConyugue"
                        data-combo="ciudades" data-depende="departamentoNacimientoConyugue" data-param="dpto" required>
                        <option value="" selected></option>
                    </select>
                    <label for="ciudadNacimientoConyugue">Ciudad de Nacimiento</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="tipoDireccionConyugue" name="tipoDireccionConyugue"
                        data-combo="abreviaturadir" required>
                        <option value="" selected></option>
                    </select>
                    <label for="tipoDireccionConyugue">Tipo de Direccion</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field ">
                    <input type="text" class="app-input" id="complementoDireccionConyugue"
                        name="complementoDireccionConyugue" placeholder=" " required>
                    <label for="complementoDireccionConyugue">Complemento Direccion</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="generoConyugue" name="generoConyugue" required>
                        <option value="" selected></option>
                        <option value="M">MASCULINO</option>
                        <option value="F">FEMENINO</option>
                        <option value="O">OTRO</option>
                    </select>
                    <label for="generoConyugue">Genero</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field ">
                    <input type="date" class="app-input" id="fechaNacimientoConyugue" name="fechaNacimientoConyugue"
                        placeholder=" " required>
                    <label for="fechaNacimientoConyugue">Fecha de Nacimiento</label>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <div class="app-field ">
                    <input type="date" class="app-input" id="fechaExpedicionConyugue" name="fechaExpedicionConyugue"
                        placeholder=" " required>
                    <label for="fechaExpedicionConyugue">Fecha de Expedicion Documento</label>
                </div>
            </div>

            <div class="col-12 col-md-1">
                <div class="app-field ">
                    <input type="text" class="app-input" id="telefonoConyugue" name="telefonoConyugue" placeholder=" "
                        required minlength="7" maxlength="10">
                    <label for="telefonoConyugue">Telefono</label>
                </div>
            </div>

            <div class="col-12 col-md-2">
                <div class="app-field ">
                    <input type="text" class="app-input" id="celularConyugue" name="celularConyugue" placeholder=" "
                        required minlength="7" maxlength="10">
                    <label for="celularConyugue">Celular</label>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="app-field ">
                    <input type="text" class="app-input" id="emailConyugue" name="emailConyugue" placeholder=" "
                        required>
                    <label for="emailConyugue">Correo Electronico</label>
                </div>
            </div>

            <div class="col-12 col-md-3">
                <div class="app-field select">
                    <select class="app-select" id="tipoContratoConyugue" name="tipoContratoConyugue"
                        data-combo="tipocontrato" required>
                        <option value="" selected></option>
                    </select>
                    <label for="tipoContratoConyugue">Tipo de Contrato</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field ">
                    <input type="text" class="app-input" id="empresaConyugue" name="empresaConyugue" placeholder=" ">
                    <label for="empresaConyugue">Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field">
                    <input type="text" class="app-input" id="oficioConyugue" name="oficioConyugue" placeholder=" ">
                    <label for="oficioConyugue">Oficio</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field">
                    <input type="text" class="app-input" id="telefonoEmpresaConyugue" name="telefonoEmpresaConyugue"
                        placeholder=" ">
                    <label for="telefonoEmpresaConyugue">Telefono Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field select">
                    <select class="app-select" id="paisEmpresaConyugue" name="paisEmpresaConyugue" data-combo="paises"
                        required>
                        <option value="" selected></option>
                    </select>
                    <label for="paisEmpresaConyugue">Pais Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field select">
                    <select class="app-select" id="departamentoEmpresaConyugue" name="departamentoEmpresaConyugue"
                        data-combo="departamentos" data-depende="paisEmpresaConyugue" data-param="pais" required>
                        <option value="" selected></option>
                    </select>
                    <label for="departamentoEmpresaConyugue">Departamento Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field select">
                    <select class="app-select" id="ciudadEmpresaConyugue" name="ciudadEmpresaConyugue"
                        data-combo="ciudades" data-depende="departamentoEmpresaConyugue" data-param="dpto" required>
                        <option value="" selected></option>
                    </select>
                    <label for="ciudadEmpresaConyugue">Ciudad Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field select">
                    <select class="app-select" id="cargoConyugue" name="cargoConyugue" data-combo="profesiones"
                        required>
                        <option value="" selected></option>
                    </select>
                    <label for="cargoConyugue">Cargo</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="tipoDireccionEmpresaConyugue" name="tipoDireccionEmpresaConyugue"
                        data-combo="abreviaturadir" required>
                        <option value="" selected></option>
                    </select>
                    <label for="tipoDireccionEmpresaConyugue">Tipo Direccion Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field">
                    <input type="text" class="app-input" id="complementoDireccionEmpresaConyugue"
                        name="complementoDireccionEmpresaConyugue" placeholder=" ">
                    <label for="complementoDireccionEmpresaConyugue">Complemento Direccion Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field select">
                    <select class="app-select" id="ciuuEmpresaConyugue" name="ciuuEmpresaConyugue" data-combo="ciiu">
                        <option value="" selected></option>
                    </select>
                    <label for="ciuuEmpresaConyugue">CIUU Empresa</label>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="app-field">
                    <input type="text" class="app-input" id="salarioConyugue" name="salarioConyugue" placeholder=" ">
                    <label for="salarioConyugue">Salario</label>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="app-field">
                    <input type="date" class="app-input" id="fechaIngresoEmpresaConyugue"
                        name="fechaIngresoEmpresaConyugue" placeholder=" ">
                    <label for="fechaIngresoEmpresaConyugue">Fecha Ingreso Empresa</label>
                </div>
            </div>
        </div>
    </form>
</div>