<div id="ingresosEgresos" class="app-paper elevation-2 p-4">
    <div class="secondary-header mb-4 p-2">
        <h3 class="mb-0">Ingresos</h3>
    </div>
    <form>
        <div class="row g-3">
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="honorarios" name="honorarios" placeholder=" ">
                    <label for="honorarios">Honorarios</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="arriendos" name="arriendos" placeholder=" ">
                    <label for="arriendos">Arriendos</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="comisiones" name="comisiones" placeholder=" ">
                    <label for="comisiones">Comisiones</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="utilidadNegocio" name="utilidadNegocio" placeholder=" ">
                    <label for="utilidadNegocio">Utilidad negocio</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="bonificaciones" name="bonificaciones" placeholder=" ">
                    <label for="bonificaciones">Bonificaciones</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="sueldo" name="sueldo" placeholder=" " disabled>
                    <label for="sueldo">Sueldo</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="pensiones" name="pensiones" placeholder=" ">
                    <label for="pensiones">Pensiones</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="dividendos" name="dividendos" placeholder=" ">
                    <label for="dividendos">Dividendos</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="interesInversiones" name="interesInversiones"
                        placeholder=" ">
                    <label for="interesInversiones">Interes inversiones</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="conceptoOtrosIngresos" name="conceptoOtrosIngresos"
                        placeholder=" ">
                    <label for="conceptoOtrosIngresos">Concepto otros ingresos</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="otrosIngresos" name="otrosIngresos" placeholder=" ">
                    <label for="otrosIngresos">Otros ingresos<strong style="color: red;">*</strong></label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="totalIngresos" name="totalIngresos" placeholder=" " disabled>
                    <label for="totalIngresos">Total Ingresos</label>
                </div>
            </div>
        </div>
    </form>

    <div class="secondary-header mb-4 p-2" style="margin-top: 2rem;">
        <h3 class="mb-0">Egresos</h3>
    </div>

    <form>
        <div class="row g-3">
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="alimentacion" name="alimentacion" placeholder=" ">
                    <label for="alimentacion">Alimentacion</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="educacion" name="educacion" placeholder=" ">
                    <label for="educacion">Educacion</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="serviciosPublicos" name="serviciosPublicos"
                        placeholder=" ">
                    <label for="serviciosPublicos">Servicios publicos</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="arriendo" name="arriendo" placeholder=" ">
                    <label for="arriendo">Arriendo</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="transporte" name="transporte" placeholder=" ">
                    <label for="transporte">Transporte</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="cuotaDomestica" name="cuotaDomestica" placeholder=" ">
                    <label for="cuotaDomestica">Cuota domestica</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="salud" name="salud" placeholder=" ">
                    <label for="salud">Salud</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="otrosGastos" name="otrosGastos" placeholder=" ">
                    <label for="otrosGastos">Otros gastos</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="otrasDeudas" name="otrasDeudas" placeholder=" ">
                    <label for="otrasDeudas">Otras deudas</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="prestamoVivienda" name="prestamoVivienda" placeholder=" ">
                    <label for="pestamoVivienda">Prestamo vivienda (cuota)</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="otrosNegocios" name="otrosNegocios" placeholder=" ">
                    <label for="otrosNegocios">Otros negocios (cuota)</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="prestamoVehiculo" name="prestamoVehiculo" placeholder=" ">
                    <label for="prestamoVehiculo">Prestamo vehiculo (cuota)</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="tajetaCredito" name="tajetaCredito" placeholder=" ">
                    <label for="tajetaCredito">Tarjeta credito (cuota)</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="conceptoOtrosEgresos" name="conceptoOtrosEgresos"
                        placeholder=" ">
                    <label for="conceptoOtrosEgresos">Concepto otros egresos</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="otrosPrestamos" name="otrosPrestamos" placeholder=" ">
                    <label for="otrosPrestamos">Otros prestamos (cuota)</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="totalEgresos" name="totalEgresos" placeholder=" " disabled>
                    <label for="totalEgresos">Total Egresos</label>
                </div>
            </div>
        </div>
    </form>


    <div class="secondary-header mb-4 p-2" style="margin-top: 2rem;">
        <h3 class="mb-0">Balance</h3>
    </div>

    <form>
        <div class="row g-3">
            <div class="col-12 col-md-4">
                <div class="app-field">
                    <input type="text" class="app-input" id="totalActivos" name="totalActivos" placeholder=" " required>
                    <label for="totalActivos">Total Activos</label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="app-field">
                    <input type="text" class="app-input" id="totalPasivos" name="totalPasivos" placeholder=" " required>
                    <label for="totalPasivos">Total Pasivos</label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="app-field">
                    <input type="text" class="app-input" id="totalPatrimonio" name="totalPatrimonio" placeholder=" "
                        required readonly>
                    <label for="totalPatrimonio">Total Patrimonio</label>
                </div>
            </div>
        </div>
    </form>

    <div class="secondary-header mb-4 p-2" style="margin-top: 2rem;">
        <h3 class="mb-0">Obligaciones Financieras</h3>
    </div>

    <form>
        <div class="row g-3">
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="saldoALaFecha" name="saldoALaFecha" placeholder=" ">
                    <label for="saldoALaFecha">Saldo a la fecha</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="cooperativasSaldos" name="cooperativasSaldos"
                        placeholder=" ">
                    <label for="cooperativasSaldos">Cooperativas y fondos (saldos)</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="entidadesFinancierasCuotas"
                        name="entidadesFinancierasCuotas" placeholder=" ">
                    <label for="entidadesFinancierasCuotas">Entidades financieras (cuotas)</label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="app-field">
                    <input type="text" class="app-input" id="cooperativasCuotas" name="cooperativasCuotas"
                        placeholder=" ">
                    <label for="cooperativasCuotas">Cooperativas y fondos (cuotas)</label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="app-field">
                    <input type="text" class="app-input" id="otrasObligacionesSaldos" name="otrasObligacionesSaldos"
                        placeholder=" ">
                    <label for="otrasObligacionesSaldos">Otras obligaciones (saldos)</label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="app-field">
                    <input type="text" class="app-input" id="otrasObligacionesCuotas" name="otrasObligacionesCuotas"
                        placeholder=" ">
                    <label for="otrasObligacionesCuotas">Otras obligaciones (cuotas)</label>
                </div>
            </div>
             <div class="col-12 col-md-4">
                <div class="app-field">
                    <input type="text" class="app-input" id="totalOtrasObligaciones" name="totalOtrasObligaciones"
                        placeholder=" " readonly>
                    <label for="totalOtrasObligaciones">Total otras obligaciones</label>
                </div>
            </div>
        </div>
    </form>


</div>