<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Detalles</h1>
            <p>Aquí podrás visualizar el historial de tus solicitudes.</p>

            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Producto</th>
                            <th>Servicio</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Producto 1</td>
                            <td>Servicio 1</td>
                            <td>Activo</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Producto 2</td>
                            <td>Servicio 2</td>
                            <td>Inactivo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>