<div class="container-details">
    <div class="row" id="tab-generate-select">
        <div class="row g-3">
            <h1>Generar Solicitud</h1>
            <p>Selecciona el producto o servicio que deseas solicitar.</p>
            <div class="col-12 col-md-4 mx-auto mb-4">
                <div class="app-field select mb-3">
                    <select class="app-select" id="productoServicio" name="productoServicio" required>
                        <option value="" disabled selected hidden></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <label for="productoServicio">Producto o Servicio</label>
                </div>
                <div class="d-flex gap-2 justify-content-end">
                    <button class="app-button secondary w-100" id="btn-generate-cancel">Cancelar</button>
                    <button class="app-button primary w-100" id="btn-generate-form">Generar Solicitud</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="tab-generate-form" style="display: none;">
        <div>HOLA</div>

    </div>
</div>