
<!-- IZQUIERDA (contenido login) -->
<div class="main-container">
  <div class="paper">
    <form id="form-step-1" class="form" style="width: 100%; max-width: 395px;">
      <div id="step-1" style="width: 100%;">
        <h2 class="bienvenido">Recordar Usuario</h2>

        <div class="contenedor-global">
          <div class="contenedor-formulario">
            
            <div class="mui-textfield" id="cedula-recover-group">
              <span class="material-icons mui-icon">document_scanner</span>
              <input
                type="number"
                id="cedula"
                placeholder="Cedula"
                required
                autofocus
                autocomplete="off"
              />
            </div>
            <small class="error" id="error-cedula"></small>

            <div class="mui-textfield" id="celular-recover-group">
              <span class="material-icons mui-icon">phone_android</span>
              <input
                type="number"
                id="celular"
                placeholder="Celular"
                required
                autocomplete="off"
              />
            </div>
            <small class="error" id="error-celular"></small>

            <div class="contenedor-boton">
              <button type="button" class="boton-nuevo" id="btnRecover">
                Enviar
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="urls-basicas-contenedor">
        <a href="/auth/login" class="urls-basicas">¿Ya tienes una cuenta?</a>
      </div>
    </form>

    <div id="loading" class="loading">
      <div class="spinner"></div>
      <span>Cargando...</span>
    </div>

  </div>

  <p class="app-copy mt-4" style="text-align: center">
    Copyright ©
    <a class="app-copy-link" href="https://opa.com.co/"> OPA S.A.S </a>
    <%= new Date().getFullYear() %>
  </p>
</div>

<!-- Modal mensajes de errores -->
<div class="modal fade app-modal" id="modalrecover" style="z-index: 2000;" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content app-modal__content">
      <div class="app-modal__body">
        <div>
          <div class="py-2 px-3" style="text-align: justify;" id="body-recover"></div>
          <div class="contenedor-boton">
            <button type="button" class="boton-nuevo" id="btn-modal-recover">
              Ok
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const form = document.getElementById("form-step-1");
  const formBtn = document.getElementById("btnRecover");
  const bodyModalMessage = document.getElementById("body-recover");
  const btnModal = document.getElementById("btn-modal-recover");

  formBtn.addEventListener("click", sendRecoverUser);

  btnModal.addEventListener("click", () => closeModal("modalrecover"));

  function openModal(modalId, isStatic = false) {
    const modalElement = document.getElementById(modalId);

    if (!modalElement) {
      console.error(`No existe un modal con id: ${modalId}`);
      return;
    }

    let modal = bootstrap.Modal.getInstance(modalElement);

    if (!modal) {
      modal = new bootstrap.Modal(modalElement, {
        backdrop: isStatic ? 'static' : true,
        keyboard: !isStatic // si es static, desactiva ESC
      });
    }

    modal.show();
  }

  function closeModal(modalId) {
    const modalElement = document.getElementById(modalId);

    if (!modalElement) return;

    const modal = bootstrap.Modal.getInstance(modalElement);
    modal?.hide();
  }

  function validateInputs() {
    const documentInput = document.getElementById("cedula");
    const phoneInput = document.getElementById("celular");
    const inputDocumentGroup = document.getElementById("cedula-recover-group");
    const inputPhoneGroup = document.getElementById("celular-recover-group");
    const errorDocumentGroup = document.getElementById("error-cedula");
    const errorPhoneGroup = document.getElementById("error-celular");

    if (
      documentInput.value === "" &&
      phoneInput.value === ""
    ) {
      inputDocumentGroup.classList.add("error");
      errorDocumentGroup.innerText = "Cedula es requerida";
      inputPhoneGroup.classList.add("error");
      errorPhoneGroup.innerText = "Celular es requerido";
      return false;
    } else {
      inputDocumentGroup.classList.remove("error");
      errorDocumentGroup.innerText = "";
      inputPhoneGroup.classList.remove("error");
      errorPhoneGroup.innerText = "";
    }
    
    if (documentInput.value === "") {
      inputDocumentGroup.classList.add("error");
      errorDocumentGroup.innerText = "Cedula es requerida";
      return false;
    } else {
      inputDocumentGroup.classList.remove("error");
      errorDocumentGroup.innerText = "";
    }
    
    if (phoneInput.value === "") {
      inputPhoneGroup.classList.add("error");
      errorPhoneGroup.innerText = "Celular es requerido";
      return false;
    } else {
      inputPhoneGroup.classList.remove("error");
      errorPhoneGroup.innerText = "";
    }

    return true;
  }

  function headers(headersOptions = {}) {
    const myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");
    Object.entries(headersOptions).forEach(([key, value]) => {
      myHeaders.append(key, value);
    });
    return myHeaders;
  }

  async function sendRecoverUser(e) {
    e.preventDefault();
    const documentInput = document.getElementById("cedula");
    const phoneInput = document.getElementById("celular");

    if (!validateInputs()) return;

    form.classList.add("d-none");
    loading.classList.add("active");

    const params = {
      "cedula": documentInput.value,
      "celular": phoneInput.value,
    };

    const response = await fetchData("/auth/recover-user", params);

    if (response?.error) {
      openModal("modalrecover");
      bodyModalMessage.innerText = response?.message;
      loading.classList.remove("active");
      form.classList.remove("d-none");
      return;
    }

    openModal("modalrecover");
    bodyModalMessage.innerText = response?.message;
    loading.classList.remove("active");
    form.classList.remove("d-none");
  }

  async function fetchData(url = "", params = {}) {
    try {
      const response = await fetch(url, {
        method: 'POST',
        headers: headers(),
        body: JSON.stringify(params),
      });
      const data = await response.json();
      return data;
    } catch (error) {
      return { error: true, message: "Ha ocurrido un error al realizar la petición" }
    }
  }
</script>
